*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{

    background-color: #eff2f5;
}

.contenedor{
    max-width: 980px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.logofacebook{
    margin-top: 50px;
    width: 280px;
}

.clase1{
    width: 500px;
    padding-right: 32px;
}

.clase1 p{
    font-size: 28px;
}

.clase2{
width: 400px;
}

form{
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

input{
    display:block ;
    width: 100%;
    padding: 15px;
    margin: 6px 0 ;
    border: 1px solid #dddfe2;
    border-radius: 12px;
}

.iniciar
{
    display: block;
    width: 100%;
    background-color: #1877f2;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 16px;
    text-decoration: none;
    color: #fff;
    margin:20px 0;
}

.olvidaste{

    display: block;
    width: 100%;
    color: #1877f2;
    margin: 15px 0 25px 0;

}

hr{
    margin: 16px 0;
    border: 1px solid #ddd;
}

.nueva{

    display: block;
    width: 200px;
    margin: auto;
    background-color:#42b72a;
    padding: 16px;
    border-radius: 6px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;

}

.clase2 p{
font-size: 14px;
text-align: center;
margin-top: 28px;
}

@media screen {
    
}